<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | York1996.com | <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备16079882号</a></span>
    </div>
</footer>
